

*{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(61, 61, 61); /* lighter black */
    color: white; /* change font color to white */
}

#education {
    text-align: center;
    font-size: 60px;
    color: blueviolet;
}
div{
    font-size: 25px;}