*{
        text-align: start;
        box-sizing: border-box;
        justify-content: center;
        background-color: rgb(20, 20, 20);
        color: antiquewhite;
        font-family: sans-serif;
        font-size: medium;
    }
    #skills{
        color: aqua;
        font-size: 40px;
        text-align: center;
    }
